<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047828763517-nnd63e6npa0d9pnd84ionkg4n90a481g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047828763517-nnd63e6npa0d9pnd84ionkg4n90a481g</string>
	<key>API_KEY</key>
	<string>AIzaSyDhe4hCHKCRSnCBGLMyIQLcY9fGK1M_Nbc</string>
	<key>GCM_SENDER_ID</key>
	<string>1047828763517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireGallery</string>
	<key>PROJECT_ID</key>
	<string>fire-gallery-4284d</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-gallery-4284d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047828763517:ios:1ce902ee3e410038b9f214</string>
</dict>
</plist>